Question 4:
TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [12]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
from scipy.stats import norm

In [2]:
data = pd.read_csv("Costomer+OrderForm (1).csv")

In [3]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
data.shape

(300, 4)

In [5]:
data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

Hypothesis:

H0: Proportion of defective % across the center is same.
H1: Proportion of defective % across the center is different.

In [6]:
Phillippines_value=data['Phillippines'].value_counts()
Indonesia_value=data['Indonesia'].value_counts()
Malta_value=data['Malta'].value_counts()
India_value=data['India'].value_counts()

In [7]:
print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
Frequency = [271,267,269,280]

In [9]:
Value_Counts = [29,33,31,20]

In [10]:
Customer = [Frequency,Value_Counts]

In [16]:
chi_sq = scipy.stats.chi2_contingency(Customer)

In [17]:
chi_sq[1]

0.2771020991233135

Here, p_value = 0.2771020991233135

Since p_value(0.2771020991233135) > alpha(0.05),
Accept null hypothesis.

Inference:
Proportion of defective % across the center is same.