Question 3:
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [34]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy
from scipy.stats import norm

In [35]:
data = pd.read_csv("BuyerRatio (1).csv")

In [36]:
data.head()

  Observed_Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [37]:
data.shape

(2, 5)

Hypothesis:

H0: Male-female buyer rations are similar across regions.
H1: Male-female buyer rations are not similar across regions.

In [46]:
Male = [50,142,131,70]
Female=[435,1523,1356,750]
Sales=[Male,Female]
print(Sales)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [45]:
scipy.stats.chi2_contingency(Sales)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

Here, p_value = 0.6603094907091882

Since, 
p_Value(0.66030949) > aplha(0.05),
We will accept null hypothesis.

Inference: Male-female buyer rations are similar across regions.